@import '../../../../variables.scss';

.message-wrapper {
    overflow-y: scroll;
    margin-bottom: 62px;

}

.select-room {
    .select-room-message {
        width: 20%;
        height: 20%;
        margin-bottom: 10%;
        margin-top: 20%;
        border: 2px solid $gold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.5vw;
        
    }
}