<ng-container *ngIf="message.sender.id === user.id else left">
  <div class="chat-message d-flex">
    
      <div class="bubble">
          <div class="timestamp-container"><small class="timestamp">{{message.createdAt?.toDate()}}  </small></div>
          <div class="message">
            {{message.message}}
          </div>
      </div>

      <div class="image-wrapper">
          <img [src]="message.sender?.photoUrl" class="rounded-circle">
      </div>
        
  </div>
</ng-container>

<ng-template #left>
  <div class="left-chat-message d-flex">

      <div class="image-wrapper">
          <img [src]="message.sender?.photoUrl" class="rounded-circle">
      </div>

      <div class="bubble d-flex flex-column">  
          <small class="timestamp">{{message.createdAt?.toDate()}}  </small>
          <div class="message">
            {{message.message}}
          </div>
      </div>
                              
  </div>
</ng-template>