.details-container{
  float: left;
  margin: 1%;
}

img {
  max-width: 96vw;
    height: auto;
    width: auto; 
}

.img-size {
  position: relative;
  max-width:450px;
  margin-right: 0;
}

.cart-buy-container{

}

.long-btn {
  width: 96vw;
  
   a{
     text-align: center;
    }
  

}