<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<div class="button-bar">
    <button class="chat-button" routerLink="../chat"><i class='material-icons'>chat</i></button>
    <button class="cart-button" [routerLink]="['/cart']">
      <a class="fa fa-shopping-cart" aria-hidden="true">
        <span class="fa fa-comment" ></span>
        <span class="num">2</span>
      </a>
    </button>
    <button class="notification-button"><i class='material-icons'>notification_important</i></button>
    <button class="profile-button" [routerLink]="'/profile/'+ currentUser.id"><i class='material-icons'>perm_identity</i></button>
</div>