<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="button-bar">
    <button class="chat-button" routerLink="/chat">
      <a class="fa fa-commenting-o" aria-hidden="true">
        <span class="fa fa-circle" id="chat-circle"></span>
        <span class="chat-num">2</span>
      </a>
    </button>

    <button class="cart-button" routerLink="/cart">
      <a class="fa fa-shopping-cart" aria-hidden="true" *ngIf="totalQuantity else noCartItem">
        <ng-container *ngIf="currentUser">
        <span class="fa fa-circle" id="cart-circle"></span>
        <span class="cart-num" >{{totalQuantity}}</span>
        </ng-container>
      </a>
    </button>

    <button class="notification-button"> <!--replace with shipping details(tracking parcel) -->
      <a class="fa fa-bell-o" aria-hidden="true">
        <span class="fa fa-circle" id="notifi-circle"></span>
        <span class="notifi-num">2</span>
      </a>
    </button>

      <button class="profile-button" [routerLink]="['/profile', currentUser?.id]">
        <a class="fa fa-user-o">
        </a>
      </button>
</div>

<ng-template #noCartItem>
  <a class="fa fa-shopping-cart" aria-hidden="true" ></a>
</ng-template>
