.cart-container{
  padding-left: 2vw;
  padding-right: 2vw;
}



.cart-item-container{
  min-width: auto;
  max-width: 415px;
  height: 72px;
  max-height: 72px;
  padding-top: 1vh;
  padding-bottom: 1vh;
  padding-left: 1vw;
  margin-bottom: 8px;
  border-radius: 2px; 
  background-color: #EEEEEE;

  .img-container{

      max-width: 100px;
      max-height: 69.33px;
      margin: 0;
      float: left;
      
    img{
      width: 100%;
      max-height: 56px;
      height: auto;
    }  

  }  

  .details-container{
    margin-left: 100px;
    padding-left: 1vw;
    p {
      margin-top: 0;
      margin-bottom: 1.2vh;
    }
    .priceAndQuantityContainer{
      height: 24px;

      .cartPrice-container{
        float: left;
        margin-left: 2vw;
        color: rgb(25, 118, 210);
        font-weight: bold;
      }

      .cartQuantity-container{
        max-width: auto;
        min-width: 38.6%;
        height: 24px;
        border: 0.5px solid lightgrey;
        float: left;
        position: relative;

        .reduce-button{
          width: 24px;
          height: 24px;
          background:rgb(32, 182, 174);
          padding:0;
          float: left;

          .material-icons{
            line-height: 1;
            text-align: center;
            color: white;
            font-size: 24px;
          }
          
        }

        a{
          padding: 0 20px; 
        }

        .add-button{
          width: 24px;
          height: 24px;
          background:rgb(32, 182, 174);
          padding:0;
          float: right;

          .material-icons{
            line-height: 1;
            text-align: center;
            color: white;
            font-size: 24px;
          }
          
        }


      }
    }
  }                  
} 

