<div class="cart-container">
  <div class="page-container">
    <h3>Cart</h3>
    <div></div>
    <p>
      <a routerLink="/shipping">Shipping Prices</a>
    </p>
    <div class="cart-item-container" *ngFor="let item of items">
      <div class="img-container"><img [src]="item.imageUrl"></div>
     
        <div class="details-container" >
          <p>{{item.productName}}</p>
          <div class="priceAndQuantityContainer">
              
              <div class="cartQuantity-container">
                <button class="reduce-button" (click)="deductQuantity(item.cartQuantity, item.productId)">
                  <i class="material-icons">remove</i>
                </button>
                  <a>{{item.cartQuantity}}</a>
                <button class="add-button" (click)="addQuantity(item.cartQuantity, item.productId)">
                  <i class="material-icons">add</i>
                </button>
              </div>

              <div class="cartPrice-container">RM {{item.productPrice}}.00</div>

          </div>
        </div>
   
    </div>  
  </div>
</div>
