@import '../variables.scss';

.alert-wrapper {
    position: relative;
    width: 100%;
    alert {
        position: absolute;
        width: 100%;
    }
}

.alert-container {
    width: 100%;
}

p {
  font-family: Lato;
}
