@import '../variables.scss';

.alert-wrapper {
    position: relative;
    width: 100%;
    alert {
        position: absolute;
        width: 100%;
    }
}

.alert-container {
    width: 100%;
   //margin-top: 72px;
}

p {
  font-family: Lato;
}

/*app-top-bar{
  position: fixed;
  top: 0;
  width: 100%;
}*/

