
<div class="container">
  <div class="page-container">
    <h1>Products</h1>
    
      <ng-container *ngFor="let product of productService.products | async">
        <div class="product-container">
          <div>
              <div *ngIf="product.imageUrl" class="img-size">
                <img [src]="product.imageUrl" >
                <button class="view-btn" [routerLink]="['/products', product.productId]">View</button>
              </div>
          <a [routerLink]="['/products', product.productId]" class="productName-font"> {{product.productName}} </a>
          </div>
          <p *ngIf="product.description">
            Description: {{ product.description}}
          </p>
          <p *ngIf="product.price">
            Price: RM{{ product.price}}
          </p>
        
          <button (click)="share()">
            Share
          </button>

          <app-product-alerts
            [product]="product"
            (notify)='onNotify()'>
          </app-product-alerts>
        </div>
      </ng-container>
  </div>
</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->