<div class="container-sm d-flex justify-content-center align-items-center">
  <div class="box">
    <div class="form-wrapper.text-center">
      <h2 class="text-center">Signup</h2>
      <form [formGroup]="signupForm" (submit)="submit()" novalidate>
        <div class="name-wrapper d-flex">
          <div class="form-group first-name">
            <input type="text" class="form-control" id="first-name-input" placeholder="First Name" formControlName="firstName">
          </div>
          <div class="form-group last-name">
            <input type="text" class="form-control" id="last-name-input" placeholder="Last Name" formControlName="lastName">
          </div>
        </div>
        
        <div class="form-group">
          <input type="email" class="form-control" id="email-input" placeholder="Enter Email" formControlName="email">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" id="password-input" placeholder="Enter Passowrd" formControlName="password">
        </div>
        <button type="submit" class="sign-in-button" >Submit</button>
      </form>
      <small><a routerLink='../login'>Already have an Account? </a></small>
    </div>
  </div>
</div>